{% extends "layout.html" %} 

{% block body %}
<center><h1>insert item list</h1></center>

<form class="container"   method="post">

  Item name: <input tabindex="1" type="text" name="item_name" required size="100"><br>
  Qty per unit:  <input type="number" name="qty_per_unit"><br>
  Cp per unit:  <input type="number" name="cp_per_unit"><br>
  Sp per unit:  <input type="number" name="sp_per_unit"><br>
  
  Discount per unit: <input type="number" name="discount_per_unit"><br>
  Tax Rate:  <input type="number" name="tax_rate"><br>

  <button type="submit">Submit</button>
  
</form>

{% endblock %}